@CHARSET "UTF-8";
.info,.success,.warning,.error,.validation {
	border: 1px solid;
	margin: 10px 0px;
	padding: 1px;
	background-repeat: no-repeat;
}

.info {
	color: #00529B;
	background-color: #BDE5F8;
}

.success {
	color: #4F8A10;
	background-color: #DFF2BF; 
}

.warning {
	color: #9F6000;
	background-color: #FEEFB3; 
}

.error {
	color: #D8000C;
	background-color: #FFBABA; 
}
.validation {
	color: #D63301;
	background-color: #FFCCBA;
}